
:root {
        --main-color: #FFFFFF;
        --accend-color: #2196F3;
        --black-color: #212121;
        --gray-color: #757575;
        --darkgray-color: #2F303A;
        --rgba-color:rgba(255, 255, 255, 0.6);
        --button-color: #F5F4FA;
        --button-active: #188CE8;
}


.body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--main-color);
  color: var(--black-color);
}

.list {
        list-style: none;
}

/* Logo */

.logo { 
        
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;

text-decoration: none;
}

.logo-web {
        color: var(--accend-color);
}

.logo-studio {
        color: var(--black-color);
}

/* Header Navigation List */

.link {
        text-decoration: none;
}

.header-list-link {
                font-weight: 500;
                line-height: calc(16/14);
                letter-spacing: 0.02em;
                color: var(--black-color);
}

.header-active-link {
        color: var(--accend-color);
}

/* Contacts */

.contacts-mail {
        font-weight: 500;
        line-height: calc(16/12);
        letter-spacing: 0.02em;
        text-decoration: none;
        color:var(--accend-color);
}

.contacts-tel {
        font-weight: 500;
        line-height: calc(16/12);
        letter-spacing: 0.02em;
        text-decoration: none;
    
        color:var(--gray-color);}

/* Hero */

.hero {
      background-color:var(--darkgray-color);
}

.title {
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color:var(--main-color);
}

.title-button {
                font-weight: 700;
                font-size: 16px;
                line-height: calc(30/16);        
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.06em;
                font-family: inherit;
                cursor: pointer;
        
                color:var(--main-color);
                background-color:var(--accend-color);
}

/* Opportunities */

.opportunities-title {
        font-weight: 700;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color:var(--black-color);
}

.opportunities-text {
        font-weight: 400;
        line-height: calc(24/14);
        letter-spacing: 0.03em;

        color:var(--gray-color);
}

/* What do we do? */

.what-we-do {
                font-weight: 700;
                font-size: 36px;
                line-height: calc(42/36);
                text-align: center;
                letter-spacing: 0.03em;
        
                color:var(--black-color);
}

/* Team */

.team-title {
                font-weight: 700;
                font-size: 36px;
                line-height: calc(42/36);
                text-align: center;
                letter-spacing: 0.03em;
        
                color: var(--black-color);
}

.worker {
                font-weight: 500;
                font-size: 16px;
                line-height: calc(19/16);      
                text-align: center;
                letter-spacing: 0.03em;
        
                color: var(--black-color);
}

.position {
                font-weight: 400;
                font-size: 16px;
                line-height: calc(19/16);
                text-align: center;
                letter-spacing: 0.03em;
        
                color: var(--gray-color);
}

/* Footer */

.footer {
        background-color: var(--darkgray-color);
}

.logo-studio2 {
        color: var(--main-color);
}

.address {
                font-weight: 400;
                line-height: calc(24/14);     
                letter-spacing: 0.03em;
                color: var(--main-color);
}

.footer-mail {       
        
        color: var(--rgba-color)}

.footer-tel {
        color: var(--rgba-color);
}

        

/* All interactive elements */

.interactive-element:hover {
        color: var(--accend-color);
}

.interactive-element:focus {
        color: var(--accend-color);
}



/* Portfolio page */

/* Buttons */

.button-list {
        list-style: none;;
}

.portfolio-buttons {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;
}

.button-all {
        color: var(--main-color);
        background-color: var(--accend-color);
}

.button {                        
        color: var(--black-color);
        background-color: var(--button-color);
}

.portfolio-buttons:hover {
        color: var(--button-active);
        background-color: var(--main-color);
}

.portfolio-buttons:focus {
        background-color: var(--main-color);
        color: var(--button-active) }
        

/* Photos */


.gallery-list {
        list-style: none;
}

.galley-name {
                font-weight: 700;
                font-size: 18px;
                line-height: calc(36/18);
                letter-spacing: 0.06em;
                
}

.gallery-describtion {
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.03em;
        
                color: var(--gray-color);
}